/*SLIDE BAR*/
/* Estilo para el scroll */
::-webkit-scrollbar {
   width: 2px; /* Ancho del scroll */
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #ffffff; /* Color del fondo del scroll */
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #000000; /* Color del scroll */
   border-radius: 10px; /* Bordes redondeados */
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #888; /* Cambia el color del scroll al pasar el cursor */
 }





*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}
body {
   font-family: "Poppins",sans-serif;
}



/*menu*/

.menu-container {
   width: 100%;
   text-align: center;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #000000;
   z-index: 1;
   /* Asegura que esté sobre otros elementos */
}

.menu-edit {
   max-width: 900px;
   margin: 0 auto;
   /* Centra el menú horizontalmente */
   font-size: 20px;
}

.menu-horizontal {
   width: 100%;
   list-style: none;
   display: flex;
   justify-content: space-around;
   padding: 0;
   margin: 0;
}

.menu-horizontal>li>a {
   display: block;
   font-size: 2vh;
   padding: 15px 20px;
   color: white;
   text-decoration: none;
   transition: color 0.3s ease;
   /* Añadimos una transición para que el cambio de color sea suave */
}

.menu-horizontal>li:hover {
   background-color: rgb(255, 255, 255);
}

.menu-horizontal>li:hover>a {
   color: black;
   /* Cambiamos el color del texto a negro cuando pasas el ratón sobre el enlace */
}

.menu-vertical {
   position: absolute;
   display: none;
   list-style: none;
   width: 200px;
   background-color: rgba(0, 0, 0, .5);
   font-size: 2vh;
}

.menu-horizontal li:hover .menu-vertical {
   display: block;
}

.menu-vertical li:hover {
   background-color: black;
}

.menu-vertical li a {
   display: block;
   color: white;
   padding: 15px 15px 15px 20px;
   text-decoration: none;
}




/*MENU 2*/
.menu2-container {
   text-align: center;
   color: #000000;
   margin-top: 5rem;
   margin-bottom: -4rem;
}

.menu2-horizontal {
   list-style-type: none;
   padding: 0;
}

.menu2-horizontal li {
   display: inline;
   margin-right: 60px; /* Ajusta el espaciado entre elementos según necesites */
}

.menu2-horizontal li:last-child {
   margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.menu2-horizontal a {
   color: rgb(68, 68, 68); /* Color de texto en negro */
   text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.menu2-horizontal a:hover {
   color: rgb(0, 0, 0); /* Cambia el color del texto al pasar el ratón por encima */
   font-weight: bold;
}






/* PRODUCTOS */
.products {
   padding: 50px 20px; /* Reducir el padding en pantallas pequeñas */
   text-align: center;
 }
 
 .products h2 {
   color: #111111;
   font-family: 'Oswald', sans-serif;
   font-size: 40px;
   text-transform: uppercase;
   margin-bottom: 30px;
 }
 
 .product-content {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Utilizar auto-fit para ajustar automáticamente el número de columnas según el tamaño de la pantalla */
   gap: 30px;
 }
 
 .product {
   text-align: center;
   padding: 20px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
 }
 
 .product img {
   width: 100%; /* Hacer que la imagen ocupe todo el ancho del contenedor */
   max-width: 200px; /* Establecer un ancho máximo para la imagen */
   height: auto; /* Ajustar automáticamente la altura según el ancho */
   margin-bottom: 10px;
   border: 2px solid #ddd; /* Añadir borde a la imagen */
 }
 
 .product h3 {
   font-size: 18px;
   color: #111111;
   font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
   margin-bottom: 10px;
 }
 
 .product p,
 .precio {
   font-size: 14px;
   color: #111111;
   margin-bottom: 10px;
 }
 
 .precio {
   font-weight: 800;
 }
 
 /* Media Query para pantallas pequeñas */
 @media screen and (max-width: 768px) {
   .products {
     padding: 50px 10px; /* Reducir más el padding en pantallas muy pequeñas */
   }
 
   .product-content {
     grid-template-columns: repeat(2, 1fr); /* Mostrar 2 columnas en pantallas pequeñas */
   }
 }
 





/*-------FOOTER----------*/
.footer {
   padding: 50px 0;
   background-color: #111111;
}

.footer-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 0 20px; /* Agregar padding a los lados */
   position: relative; /* Agregado para posicionar el código QR */
   margin: 0 10px;
}

.link {
   margin: 20px 0;
}

.link h3 {
   font-size: 18px;
   color: #ffffff;
   font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
   margin-bottom: 10px;
}

.link a {
   font-size: 18px;
   color: #dcdcdc;
   margin-bottom: 10px;
   text-decoration: none;
}

.social-icons{
   padding: 0;
   list-style: none;
   margin: -0.5em;
   margin-top: 5px;
   margin-left: 3rem;
}
.social-icons li{
   display: inline-block;
   margin: 0.15em;
   position: relative;
   font-size: 1.2em;
} 
.social-icons i{
   color: #fff;
   position: absolute;
   top: 12px;
   left: 13px;
   transition: all 265ms ease-in-out;
}
.social-icons a{
   display: inline-block;
}

.social-icons a::before{
   transform: scale(1);
   content: '';
   width: 50px;
   height: 50px;
   border-radius: 100%;
   display: block;
   background: linear-gradient(45deg, #000000, #000000);
   transition: all 265ms ease-out;
}
.social-icons a:hover::before{
   transform: scale(0);
   transition: all 265ms ease-in;
}

.social-icons a:hover i{
   transform: scale(1.8);
   color: red;
   background: linear-gradient(45deg, #ffffff, #ffffff);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition:  all 265ms ease-in;
}


.social-icons .fa-instagram {
   color: #E1306C; /* Color para Instagram */
   font-size: 1.5em; /* Tamaño del icono de Instagram */
}

/* Código QR */
.qr-code-container {
   position: absolute;
   bottom: 0; /* Ajusta según sea necesario */
   right: 0; /* Ajusta según sea necesario */
   margin-bottom: 20px; /* Ajusta según sea necesario */
   margin-right: 20px; /* Ajusta según sea necesario */
}

.qr-code-image {
   width: 80px; /* Tamaño del código QR */
   height: 80px; /* Tamaño del código QR */
}

/* Media queries */
@media screen and (min-width: 768px) {
   .footer-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;
      padding: 0; /* Restaura el padding */
      position: static; /* Restaura la posición para el diseño en pantalla grande */
   }

   .link {
      margin: 0;
   }

   .social-icons {
      margin: 0;
   }

   .qr-code-container {
      position: static; /* Restaura la posición para el diseño en pantalla grande */
      margin: 0; /* Restaura el margen para el diseño en pantalla grande */
   }
}
